@import "../../styles/app.scss";
.input-date {
  padding: 0 20px;

  &__label {
    font-family: $main-font;
    font-size: 1.5rem;
    font-weight: 300;
    color: $black;
  }
}
#inputBox {
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 10px;
  font-family: $main-font;
  color: $darkGrey;
}
