@import "../../styles/app.scss";
.daily-feed {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  font-family: $main-font;

  &__title {
    font-size: 1.5rem;
    font-weight: 300;
    color: $black;
    padding: 10px 0;
    text-align: center;
  }
  &__market-info,
  &__cape-info {
    background-color: $white;
    font-size: 1.3rem;
    height: auto;
    width: 1200px;
    border: 1px solid $darkGrey;
    border-radius: 10px;
    box-shadow: 5px 5px 10px $almostBlack;
    color: $darkGrey;
    font-weight: 300;
    padding: 20px;
  }
}
